In [20]:
from module.function import *

In [21]:
from module.learning import *

In [22]:
import pandas as pd

In [45]:
a = pd.read_csv('data_csv/data_ADA_KRW.csv').drop(['Unnamed: 0'], axis = 1)

In [46]:
a

,close,high,low,open,time,volumefrom,volumeto,timestamp,KRW
0,0.000391,0.000393,0.000387,0.000393,1519146000,840465,327.93,2018-02-21 02:00:00,387.840603
1,0.000398,0.000399,0.000389,0.000391,1519149600,1302964,513.33,2018-02-21 03:00:00,393.334405
2,0.000399,0.000403,0.000398,0.000398,1519153200,2461204,984.86,2018-02-21 04:00:00,391.883556
3,0.000397,0.000403,0.000395,0.000399,1519156800,1369060,548.18,2018-02-21 05:00:00,387.893991
4,0.000400,0.000402,0.000396,0.000397,1519160400,845380,336.47,2018-02-21 06:00:00,390.055441
5,0.000393,0.000402,0.000393,0.000400,1519164000,611872,242.66,2018-02-21 07:00:00,372.595762
6,0.000393,0.000396,0.000391,0.000393,1519167600,874594,343.76,2018-02-21 08:00:00,369.571050
7,0.000382,0.000393,0.000382,0.000393,1519171200,1967310,762.40,2018-02-21 09:00:00,361.115450
8,0.000383,0.000386,0.000380,0.000382,1519174800,1489288,569.29,2018-02-21 10:00:00,363.774649
9,0.000383,0.000385,0.000379,0.000383,1519178400,1150122,438.66,2018-02-21 11:00:00,364.934255
10,0.000381,0.000385,0.000381,0.000383,1519182000,504563,193.20,2018-02-21 12:00:00,358.310783
11,0.000386,0.000387,0.000380,0.000381,1519185600,869465,332.85,2018-02-21 13:00:00,357.936063
12,0.000385,0.000386,0.000382,0.000386,1519189200,1532718,590.12,2018-02-21 14:00:00,358.751374
13,0.000387,0.000389,0.000385,0.000385,1519192800,492819,190.37,2018-02-21 15:00:00,367.559829
14,0.000386,0.000389,0.000382,0.000387,1519196400,828766,319.41,2018-02-21 16:00:00,365.940213
15,0.000386,0.000387,0.000385,0.000386,1519200000,364339,140.64,2018-02-21 17:00:00,362.893808
16,0.000388,0.000389,0.000384,0.000386,1519203600,434161,168.17,2018-02-21 18:00:00,369.497562
17,0.000385,0.000389,0.000383,0.000388,1519207200,565940,218.35,2018-02-21 19:00:00,362.294380
18,0.000384,0.000388,0.000380,0.000385,1519210800,659434,253.22,2018-02-21 20:00:00,362.204263
19,0.000395,0.000399,0.000383,0.000384,1519214400,3266735,1266.93,2018-02-21 21:00:00,374.480678
20,0.000390,0.000400,0.000388,0.000395,1519218000,1283211,506.34,2018-02-21 22:00:00,360.370120
21,0.000390,0.000393,0.000386,0.000390,1519221600,1033407,402.62,2018-02-21 23:00:00,356.868824
22,0.000396,0.000398,0.000386,0.000390,1519225200,1581078,620.38,2018-02-22 00:00:00,353.154593
23,0.000403,0.000404,0.000395,0.000396,1519228800,1515969,603.27,2018-02-22 01:00:00,355.304789
24,0.000405,0.000414,0.000403,0.000403,1519232400,2287956,933.72,2018-02-22 02:00:00,355.068125
25,0.000408,0.000411,0.000401,0.000405,1519236000,822107,332.97,2018-02-22 03:00:00,360.565495
26,0.000406,0.000409,0.000402,0.000408,1519239600,493990,200.57,2018-02-22 04:00:00,357.319958
27,0.000403,0.000406,0.000401,0.000406,1519243200,487282,196.61,2018-02-22 05:00:00,353.337926
28,0.000403,0.000405,0.000401,0.000403,1519246800,636063,256.66,2018-02-22 06:00:00,353.351255
29,0.000400,0.000407,0.000399,0.000403,1519250400,845198,340.18,2018-02-22 07:00:00,357.405557
...,...,...,...,...,...,...,...,...,...
471,0.000298,0.000300,0.000297,0.000300,1520841600,480675,143.96,2018-03-12 17:00:00,230.302649
472,0.000302,0.000305,0.000297,0.000298,1520845200,833740,250.53,2018-03-12 18:00:00,236.785982
473,0.000305,0.000305,0.000290,0.000302,1520848800,2256774,680.82,2018-03-12 19:00:00,239.038717
474,0.000314,0.000314,0.000304,0.000305,1520852400,1532637,473.16,2018-03-12 20:00:00,245.970790
475,0.000309,0.000314,0.000308,0.000314,1520856000,904971,281.28,2018-03-12 21:00:00,242.289438
476,0.000309,0.000310,0.000308,0.000309,1520859600,919665,284.21,2018-03-12 22:00:00,239.860184
477,0.000305,0.000311,0.000304,0.000309,1520863200,1071585,330.85,2018-03-12 23:00:00,226.908108
478,0.000307,0.000310,0.000305,0.000305,1520866800,505262,155.20,2018-03-13 00:00:00,227.364141
479,0.000308,0.000319,0.000304,0.000307,1520870400,1500709,463.89,2018-03-13 01:00:00,229.032297
480,0.000311,0.000312,0.000306,0.000308,1520874000,789994,243.74,2018-03-13 02:00:00,231.164401
481,0.000320,0.000322,0.000311,0.000311,1520877600,2165960,689.88,2018-03-13 03:00:00,237.995869
482,0.000315,0.000324,0.000313,0.000320,1520881200,1328802,423.86,2018-03-13 04:00:00,228.975106
483,0.000316,0.000318,0.000313,0.000315,1520884800,634791,200.40,2018-03-13 05:00:00,232.158754
484,0.000321,0.000324,0.000316,0.000316,1520888400,1473308,473.43,2018-03-13 06:00:00,237.979569
485,0.000314,0.000321,0.000314,0.000321,1520892000,838587,264.87,2018-03-13 07:00:00,231.425096
486,0.000311,0.000315,0.000311,0.000314,1520895600,1016390,318.16,2018-03-13 08:00:00,230.967531
487,0.000314,0.000314,0.000309,0.000311,1520899200,1029645,320.80,2018-03-13 09:00:00,234.978587
488,0.000314,0.000315,0.000311,0.000314,1520902800,724693,227.06,2018-03-13 10:00:00,231.859829
489,0.000313,0.000315,0.000311,0.000314,1520906400,833731,261.63,2018-03-13 11:00:00,232.444802
490,0.000310,0.000314,0.000310,0.000313,1520910000,428273,134.05,2018-03-13 12:00:00,230.006772
491,0.000314,0.000314,0.000310,0.000310,1520913600,522813,163.51,2018-03-13 13:00:00,237.230976
492,0.000313,0.000314,0.000312,0.000314,1520917200,368023,115.17,2018-03-13 14:00:00,237.229785
493,0.000318,0.000319,0.000313,0.000313,1520920800,1530653,482.97,2018-03-13 15:00:00,239.062333
494,0.000314,0.000319,0.000313,0.000318,1520924400,939497,297.08,2018-03-13 16:00:00,234.435854
495,0.000313,0.000315,0.000311,0.000314,1520928000,475639,148.51,2018-03-13 17:00:00,233.190305
496,0.000314,0.000315,0.000313,0.000313,1520931600,689170,216.73,2018-03-13 18:00:00,236.195177
497,0.000313,0.000317,0.000313,0.000314,1520935200,1980292,622.99,2018-03-13 19:00:00,228.219304
498,0.000313,0.000314,0.000312,0.000313,1520938800,969946,303.58,2018-03-13 20:00:00,231.524770
499,0.000310,0.000315,0.000309,0.000313,1520942400,708017,220.85,2018-03-13 21:00:00,226.074755
500,0.000314,0.000314,0.000309,0.000310,1520946000,237779,74.06,2018-03-13 22:00:00,231.330944