https://www.kaggle.com/rakannimer/air-passengers 에서 토이데이타 다운로드

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csvs/AirPassengers.csv')

In [3]:
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [7]:
df['accum'] = df['#Passengers'].cumsum()
df['max'] = df['#Passengers'].cummax()
df['min'] = df['#Passengers'].cummin()
df.head()

     Month  #Passengers  accum  max  min
0  1949-01          112    112  112  112
1  1949-02          118    230  118  112
2  1949-03          132    362  132  112
3  1949-04          129    491  132  112
4  1949-05          121    612  132  112